In [1]:
import pandas as pd
df1=pd.read_csv(r"C:\Users\Dell\Desktop\PYTHON ML INTERNSHIP\database\bestsellers.csv")
df1

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [3]:
import pandas as pd
df1=pd.read_excel(r"C:\Users\Dell\Desktop\PYTHON ML INTERNSHIP\database\bestsellers.xlsx")
df1

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [16]:
import pandas as pd
df_json=pd.read_json(r"C:\Users\Dell\Desktop\PYTHON ML INTERNSHIP\database\data.json")

print(df_json.to_string())

               Name         Country             House    Reign  ID
0  Edward the Elder  United Kingdom   House of Wessex  899-925   1
1         Athelstan           China  House in Beijing  925-940   2
2            Edmund           India    House in Delhi  940-946   3
3             Edred  United Kingdom   House of Wessex  946-955   4
4              Edwy       Australia    House in Wales  955-959   5

In [17]:
df1.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [18]:
df1.tail()

,Name,Author,User Rating,Reviews,Price,Year,Genre
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [32]:
df1.head(60)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction
10,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2017,Fiction
11,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2,2010,Non Fiction
12,A Stolen Life: A Memoir,Jaycee Dugard,4.6,4149,32,2011,Non Fiction
13,A Wrinkle in Time (Time Quintet),Madeleine L'Engle,4.5,5153,5,2018,Fiction
14,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,17,2009,Non Fiction
15,Adult Coloring Book Designs: Stress Relief Col...,Adult Coloring Book Designs,4.5,2313,4,2016,Non Fiction
16,Adult Coloring Book: Stress Relieving Animal D...,Blue Star Coloring,4.6,2925,6,2015,Non Fiction
17,Adult Coloring Book: Stress Relieving Patterns,Blue Star Coloring,4.4,2951,6,2015,Non Fiction
18,Adult Coloring Books: A Coloring Book for Adul...,Coloring Books for Adults,4.5,2426,8,2015,Non Fiction
19,Alexander Hamilton,Ron Chernow,4.8,9198,13,2016,Non Fiction
20,All the Light We Cannot See,Anthony Doerr,4.6,36348,14,2014,Fiction
21,All the Light We Cannot See,Anthony Doerr,4.6,36348,14,2015,Fiction
22,Allegiant,Veronica Roth,3.9,6310,13,2013,Fiction
23,American Sniper: The Autobiography of the Most...,Chris Kyle,4.6,15921,9,2015,Non Fiction
24,And the Mountains Echoed,Khaled Hosseini,4.3,12159,13,2013,Fiction
25,Arguing with Idiots: How to Stop Small Minds a...,Glenn Beck,4.6,798,5,2009,Non Fiction
26,Astrophysics for People in a Hurry,Neil deGrasse Tyson,4.7,9374,9,2017,Non Fiction
27,"Autobiography of Mark Twain, Vol. 1",Mark Twain,4.2,491,14,2010,Non Fiction
28,Baby Touch and Feel: Animals,DK,4.6,5360,5,2015,Non Fiction
29,Balance (Angie's Extreme Stress Menders),Angie Grace,4.6,1909,11,2015,Non Fiction
30,Barefoot Contessa Foolproof: Recipes You Can T...,Ina Garten,4.8,1296,24,2012,Non Fiction
31,"Barefoot Contessa, How Easy Is That?: Fabulous...",Ina Garten,4.7,615,21,2010,Non Fiction
32,Becoming,Michelle Obama,4.8,61133,11,2018,Non Fiction
33,Becoming,Michelle Obama,4.8,61133,11,2019,Non Fiction
34,Being Mortal: Medicine and What Matters in the...,Atul Gawande,4.8,11113,15,2015,Non Fiction
35,Between the World and Me,Ta-Nehisi Coates,4.7,10070,13,2015,Non Fiction
36,Between the World and Me,Ta-Nehisi Coates,4.7,10070,13,2016,Non Fiction
37,Born to Run,Bruce Springsteen,4.7,3729,18,2016,Non Fiction
38,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.6,9769,13,2009,Fiction
39,"Broke: The Plan to Restore Our Trust, Truth an...",Glenn Beck,4.5,471,8,2010,Non Fiction
40,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,14344,5,2017,Fiction
41,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,14344,5,2019,Fiction
42,"Cabin Fever (Diary of a Wimpy Kid, Book 6)",Jeff Kinney,4.8,4505,0,2011,Fiction
43,Calm the F*ck Down: An Irreverent Adult Colori...,Sasha O'Hara,4.6,10369,4,2016,Non Fiction
44,Can't Hurt Me: Master Your Mind and Defy the Odds,David Goggins,4.8,16244,18,2019,Non Fiction
45,Capital in the Twenty First Century,Thomas Piketty,4.5,2884,28,2014,Non Fiction
46,Catching Fire (The Hunger Games),Suzanne Collins,4.7,22614,11,2010,Fiction
47,Catching Fire (The Hunger Games),Suzanne Collins,4.7,22614,11,2011,Fiction
48,Catching Fire (The Hunger Games),Suzanne Collins,4.7,22614,11,2012,Fiction
49,Cravings: Recipes for All the Food You Want to...,Chrissy Teigen,4.7,4761,16,2016,Non Fiction
50,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,4.7,1542,14,2009,Non Fiction
51,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,4.7,1542,14,2010,Non Fiction
52,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,4.7,1542,14,2011,Non Fiction
53,Crazy Rich Asians (Crazy Rich Asians Trilogy),Kevin Kwan,4.3,6143,8,2018,Fiction
54,Creative Haven Creative Cats Coloring Book (Ad...,Marjorie Sarnat,4.8,4022,4,2015,Non Fiction
55,Creative Haven Owls Coloring Book (Adult Color...,Marjorie Sarnat,4.8,3871,5,2015,Non Fiction
56,Cutting for Stone,Abraham Verghese,4.6,4866,11,2010,Fiction
57,Cutting for Stone,Abraham Verghese,4.6,4866,11,2011,Fiction
58,Daring Greatly: How the Courage to Be Vulnerab...,BreneÌ Brown,4.8,1329,10,2013,Non Fiction
59,"David and Goliath: Underdogs, Misfits, and the...",Malcolm Gladwell,4.4,4642,13,2013,Non Fiction

In [21]:
df1.head(50)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction
10,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2017,Fiction
11,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2,2010,Non Fiction
12,A Stolen Life: A Memoir,Jaycee Dugard,4.6,4149,32,2011,Non Fiction
13,A Wrinkle in Time (Time Quintet),Madeleine L'Engle,4.5,5153,5,2018,Fiction
14,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,17,2009,Non Fiction
15,Adult Coloring Book Designs: Stress Relief Col...,Adult Coloring Book Designs,4.5,2313,4,2016,Non Fiction
16,Adult Coloring Book: Stress Relieving Animal D...,Blue Star Coloring,4.6,2925,6,2015,Non Fiction
17,Adult Coloring Book: Stress Relieving Patterns,Blue Star Coloring,4.4,2951,6,2015,Non Fiction
18,Adult Coloring Books: A Coloring Book for Adul...,Coloring Books for Adults,4.5,2426,8,2015,Non Fiction
19,Alexander Hamilton,Ron Chernow,4.8,9198,13,2016,Non Fiction
20,All the Light We Cannot See,Anthony Doerr,4.6,36348,14,2014,Fiction
21,All the Light We Cannot See,Anthony Doerr,4.6,36348,14,2015,Fiction
22,Allegiant,Veronica Roth,3.9,6310,13,2013,Fiction
23,American Sniper: The Autobiography of the Most...,Chris Kyle,4.6,15921,9,2015,Non Fiction
24,And the Mountains Echoed,Khaled Hosseini,4.3,12159,13,2013,Fiction
25,Arguing with Idiots: How to Stop Small Minds a...,Glenn Beck,4.6,798,5,2009,Non Fiction
26,Astrophysics for People in a Hurry,Neil deGrasse Tyson,4.7,9374,9,2017,Non Fiction
27,"Autobiography of Mark Twain, Vol. 1",Mark Twain,4.2,491,14,2010,Non Fiction
28,Baby Touch and Feel: Animals,DK,4.6,5360,5,2015,Non Fiction
29,Balance (Angie's Extreme Stress Menders),Angie Grace,4.6,1909,11,2015,Non Fiction
30,Barefoot Contessa Foolproof: Recipes You Can T...,Ina Garten,4.8,1296,24,2012,Non Fiction
31,"Barefoot Contessa, How Easy Is That?: Fabulous...",Ina Garten,4.7,615,21,2010,Non Fiction
32,Becoming,Michelle Obama,4.8,61133,11,2018,Non Fiction
33,Becoming,Michelle Obama,4.8,61133,11,2019,Non Fiction
34,Being Mortal: Medicine and What Matters in the...,Atul Gawande,4.8,11113,15,2015,Non Fiction
35,Between the World and Me,Ta-Nehisi Coates,4.7,10070,13,2015,Non Fiction
36,Between the World and Me,Ta-Nehisi Coates,4.7,10070,13,2016,Non Fiction
37,Born to Run,Bruce Springsteen,4.7,3729,18,2016,Non Fiction
38,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.6,9769,13,2009,Fiction
39,"Broke: The Plan to Restore Our Trust, Truth an...",Glenn Beck,4.5,471,8,2010,Non Fiction
40,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,14344,5,2017,Fiction
41,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,14344,5,2019,Fiction
42,"Cabin Fever (Diary of a Wimpy Kid, Book 6)",Jeff Kinney,4.8,4505,0,2011,Fiction
43,Calm the F*ck Down: An Irreverent Adult Colori...,Sasha O'Hara,4.6,10369,4,2016,Non Fiction
44,Can't Hurt Me: Master Your Mind and Defy the Odds,David Goggins,4.8,16244,18,2019,Non Fiction
45,Capital in the Twenty First Century,Thomas Piketty,4.5,2884,28,2014,Non Fiction
46,Catching Fire (The Hunger Games),Suzanne Collins,4.7,22614,11,2010,Fiction
47,Catching Fire (The Hunger Games),Suzanne Collins,4.7,22614,11,2011,Fiction
48,Catching Fire (The Hunger Games),Suzanne Collins,4.7,22614,11,2012,Fiction
49,Cravings: Recipes for All the Food You Want to...,Chrissy Teigen,4.7,4761,16,2016,Non Fiction

In [34]:
df1.tail(50)

,Name,Author,User Rating,Reviews,Price,Year,Genre
500,Thug Kitchen: The Official Cookbook: Eat Like ...,Thug Kitchen,4.6,11128,23,2014,Non Fiction
501,Thug Kitchen: The Official Cookbook: Eat Like ...,Thug Kitchen,4.6,11128,23,2015,Non Fiction
502,Thug Kitchen: The Official Cookbook: Eat Like ...,Thug Kitchen,4.6,11128,23,2016,Non Fiction
503,Thug Kitchen: The Official Cookbook: Eat Like ...,Thug Kitchen,4.6,11128,23,2017,Non Fiction
504,Tina Fey: Bossypants,Tina Fey,4.3,5977,12,2011,Non Fiction
505,To Kill a Mockingbird,Harper Lee,4.8,26234,0,2013,Fiction
506,To Kill a Mockingbird,Harper Lee,4.8,26234,0,2014,Fiction
507,To Kill a Mockingbird,Harper Lee,4.8,26234,0,2015,Fiction
508,To Kill a Mockingbird,Harper Lee,4.8,26234,0,2016,Fiction
509,To Kill a Mockingbird,Harper Lee,4.8,26234,7,2019,Fiction
510,"Tools of Titans: The Tactics, Routines, and Ha...",Timothy Ferriss,4.6,4360,21,2017,Non Fiction
511,"Towers of Midnight (Wheel of Time, Book Thirteen)",Robert Jordan,4.8,2282,21,2010,Fiction
512,True Compass: A Memoir,Edward M. Kennedy,4.5,438,15,2009,Non Fiction
513,"Twilight (The Twilight Saga, Book 1)",Stephenie Meyer,4.7,11676,9,2009,Fiction
514,Ultimate Sticker Book: Frozen: More Than 60 Re...,DK,4.5,2586,5,2014,Fiction
515,"Unbroken: A World War II Story of Survival, Re...",Laura Hillenbrand,4.8,29673,16,2010,Non Fiction
516,"Unbroken: A World War II Story of Survival, Re...",Laura Hillenbrand,4.8,29673,16,2011,Non Fiction
517,"Unbroken: A World War II Story of Survival, Re...",Laura Hillenbrand,4.8,29673,16,2012,Non Fiction
518,"Unbroken: A World War II Story of Survival, Re...",Laura Hillenbrand,4.8,29673,13,2014,Non Fiction
519,"Unbroken: A World War II Story of Survival, Re...",Laura Hillenbrand,4.8,29673,16,2014,Non Fiction
520,Under the Dome: A Novel,Stephen King,4.3,6740,20,2009,Fiction
521,Unfreedom of the Press,Mark R. Levin,4.9,5956,11,2019,Non Fiction
522,Unicorn Coloring Book: For Kids Ages 4-8 (US E...,Silly Bear,4.8,6108,4,2019,Non Fiction
523,Uninvited: Living Loved When You Feel Less Tha...,Lysa TerKeurst,4.7,4585,9,2016,Non Fiction
524,Watchmen,Alan Moore,4.8,3829,42,2009,Fiction
525,Water for Elephants: A Novel,Sara Gruen,4.5,8958,12,2011,Fiction
526,What Happened,Hillary Rodham Clinton,4.6,5492,18,2017,Non Fiction
527,What If?: Serious Scientific Answers to Absurd...,Randall Munroe,4.7,9292,17,2014,Non Fiction
528,What Pet Should I Get? (Classic Seuss),Dr. Seuss,4.7,1873,14,2015,Fiction
529,What Should Danny Do? (The Power to Choose Ser...,Adir Levy,4.8,8170,13,2019,Fiction
530,What to Expect When You're Expecting,Heidi Murkoff,4.4,3341,9,2011,Non Fiction
531,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",William Davis,4.4,7497,6,2012,Non Fiction
532,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",William Davis,4.4,7497,6,2013,Non Fiction
533,When Breath Becomes Air,Paul Kalanithi,4.8,13779,14,2016,Non Fiction
534,Where the Crawdads Sing,Delia Owens,4.8,87841,15,2019,Fiction
535,Where the Wild Things Are,Maurice Sendak,4.8,9967,13,2009,Fiction
536,Whose Boat Is This Boat?: Comments That Don't ...,The Staff of The Late Show withÂ…,4.6,6669,12,2018,Non Fiction
537,Wild: From Lost to Found on the Pacific Crest ...,Cheryl Strayed,4.4,17044,18,2012,Non Fiction
538,Winter of the World: Book Two of the Century T...,Ken Follett,4.5,10760,15,2012,Fiction
539,Women Food and God: An Unexpected Path to Almo...,Geneen Roth,4.2,1302,11,2010,Non Fiction
540,Wonder,R. J. Palacio,4.8,21625,9,2013,Fiction
541,Wonder,R. J. Palacio,4.8,21625,9,2014,Fiction
542,Wonder,R. J. Palacio,4.8,21625,9,2015,Fiction
543,Wonder,R. J. Palacio,4.8,21625,9,2016,Fiction
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [35]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [39]:
df1.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

In [38]:
df1.shape

(550, 7)

In [42]:
df1.rename(columns={'Author':'Writer','Price':'Amount'},inplace=True)
df1.columns

Index(['Name', 'Writer', 'User Rating', 'Reviews', 'Amount', 'Year', 'Genre'], dtype='object')

In [77]:
df4=pd.read_csv(r"C:\Users\Dell\Desktop\PYTHON ML INTERNSHIP\database\ramen-ratings.csv")
df4

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,NaN,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.50,NaN

In [78]:
#demo to  handle nuls
df4.isnull()

      Review #  Brand  Variety  Style  Country  Stars  Top Ten
0        False  False    False  False    False  False     True
1        False  False    False  False    False  False     True
2        False  False    False  False    False   True     True
3        False  False    False  False    False  False     True
4        False  False    False  False    False  False     True
...        ...    ...      ...    ...      ...    ...      ...
2575     False  False    False  False    False  False     True
2576     False  False    False  False    False  False     True
2577     False  False    False  False    False  False     True
2578     False  False    False  False    False  False     True
2579     False  False    False  False    False  False     True

[2580 rows x 7 columns]

In [79]:
df4.isnull().sum()

Review #       0
Brand          0
Variety        0
Style          2
Country        0
Stars         21
Top Ten     2539
dtype: int64

In [80]:
#imputation -fillna() -> fill not applicable (null) values

df4["Style"].fillna("No Pack",inplace=True)

In [81]:
df4.isnull().sum()

Review #       0
Brand          0
Variety        0
Style          0
Country        0
Stars         21
Top Ten     2539
dtype: int64

In [82]:
df4["Top Ten"].fillna("No Rank",inplace=True)

In [83]:
df4.isnull().sum()

Review #     0
Brand        0
Variety      0
Style        0
Country      0
Stars       21
Top Ten      0
dtype: int64

In [84]:
df4

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,No Rank
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,No Rank
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,NaN,No Rank
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,No Rank
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,No Rank
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,No Rank
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00,No Rank
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00,No Rank
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00,No Rank
2579,1,Westbrae,Miso Ramen,Pack,USA,0.50,No Rank

In [85]:

mean_val=df4["Stars"].mean()
mean_val

3.6505861664712773

In [86]:
df4["Stars"].fillna(value=mean_val,inplace=True)
df4.isnull().sum()

Review #    0
Brand       0
Variety     0
Style       0
Country     0
Stars       0
Top Ten     0
dtype: int64

In [87]:
df4

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.750000,No Rank
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.000000,No Rank
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,3.650586,No Rank
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.750000,No Rank
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.750000,No Rank
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.500000,No Rank
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.000000,No Rank
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.000000,No Rank
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.000000,No Rank
2579,1,Westbrae,Miso Ramen,Pack,USA,0.500000,No Rank

In [90]:
value_changetype={'Stars':object}
df4=df4.astype(value_changetype)
print(df4.dtypes)

Review #     int64
Brand       object
Variety     object
Style       object
Country     object
Stars       object
Top Ten     object
dtype: object

In [93]:
df4["Brand"].value_counts().head(50)

Brand
Nissin              381
Nongshim             98
Maruchan             76
Mama                 71
Paldo                66
Myojo                63
Indomie              53
Samyang Foods        52
Ottogi               46
Lucky Me!            34
Vina Acecook         34
Vifon                33
Maggi                30
Mamee                29
Master Kong          28
MAMA                 27
A-Sha Dry Noodle     26
KOKA                 25
Wai Wai              25
Sapporo Ichiban      25
MyKuali              24
Ve Wong              24
JML                  23
Samyang              19
Koka                 18
Batchelors           16
Doll                 16
Mr. Noodles          15
Kamfen               15
Acecook              15
Wei Lih              15
Takamori Kosan       14
Asian Thai Foods     14
Little Cook          14
Sau Tao              14
Vit's                13
Deshome              13
Unif                 13
Dragonfly            13
Saigon Ve Wong       13
Wu-Mu                12
Annie Chun's         12
Uni-President        12
Yum Yum              12
ABC                  12
Mi Sedaap            12
Golden Wheat         12
Shirakiku            11
Baijia               11
Pot Noodle           11
Name: count, dtype: int64

In [94]:
df4["Brand"].value_counts()

Brand
Nissin           381
Nongshim          98
Maruchan          76
Mama              71
Paldo             66
                ...
Golden Wonder      1
Peyang             1
Sanrio             1
China Best         1
Westbrae           1
Name: count, Length: 355, dtype: int64

In [95]:
df4["Style"].value_counts()

Style
Pack       1531
Bowl        481
Cup         450
Tray        108
Box           6
No Pack       2
Can           1
Bar           1
Name: count, dtype: int64

In [96]:
df4["Style"].value_counts().head(10)

Style
Pack       1531
Bowl        481
Cup         450
Tray        108
Box           6
No Pack       2
Can           1
Bar           1
Name: count, dtype: int64

In [100]:
df4["Brand"].value_counts().tail()

Brand
Golden Wonder    1
Peyang           1
Sanrio           1
China Best       1
Westbrae         1
Name: count, dtype: int64

In [104]:
# 1. .loc- locates rows by a name in the index column or first column
# 2. .iloc- locates rows by numerical index

df6=pd.read_csv(r"C:\Users\Dell\Desktop\PYTHON ML INTERNSHIP\database\ramen-ratings.csv", index_col="Stars")
row_out1=df6.loc[4]
row_out1

,Review #,Brand,Variety,Style,Country,Top Ten
Stars,,,,,,
4.0,2562,Binh Tay,Mi Hai Cua,Pack,Vietnam,NaN
4.0,2561,Paldo,Premium Gomtang,Pack,South Korea,NaN
4.0,2551,KOKA,Signature Tom Yum Flavor Instant Noodles,Pack,Singapore,NaN
4.0,2547,Sichuan Guangyou,Chongqing Spicy Hot Noodles,Bowl,China,NaN
4.0,2534,Fujiwara,Hokkaido Hakodate Shoyu Ramen,Pack,Japan,NaN
...,...,...,...,...,...,...
4.0,31,Myojo,Ippeichan Yakisoba,Tray,Japan,2013 #6
4.0,27,Nissin,Demae Ramen Curry Flavor,Pack,Japan,NaN
4.0,26,Nissin,Soba Noodles With Mayo Mustard Squirt,Pack,Japan,NaN
4.0,21,Nongshim,Champong Oriental Noodles,Pack,South Korea,NaN
4.0,19,Nongshim,Shin Ramyun,Pack,South Korea,NaN

In [106]:
df6=pd.read_csv(r"C:\Users\Dell\Desktop\PYTHON ML INTERNSHIP\database\ramen-ratings.csv", index_col="Country")
row_out1=df6.loc["South Korea"]
row_out1

,Review #,Brand,Variety,Style,Stars,Top Ten
Country,,,,,,
South Korea,2575,Samyang Foods,Kimchi song Song Ramen,Pack,4.75,NaN
South Korea,2568,Nongshim,Mr. Bibim Stir-Fried Kimchi Flavor,Pack,4.25,NaN
South Korea,2561,Paldo,Premium Gomtang,Pack,4.00,NaN
South Korea,2555,Samyang Foods,Song Song Kimchi Big Bowl,Bowl,4.25,NaN
South Korea,2550,Samyang Foods,Paegaejang Ramen,Pack,5.00,NaN
...,...,...,...,...,...,...
South Korea,16,Samyang,Kalgug-Su (Spicy),Pack,3.50,NaN
South Korea,15,Samyang,Pojangmacha U-dong,Pack,2.50,NaN
South Korea,14,Samyang,Hot,Pack,3.50,NaN
South Korea,11,Six Fortune,Chicken Flavor Instant Soup Noodle,Pack,2.00,NaN
South Korea,9,Sutah,Cup Noodle,Cup,2.00,NaN

In [107]:
row2=df6.iloc[2]
row2

Review #                             2578
Brand                              Nissin
Variety     Cup Noodles Chicken Vegetable
Style                                 Cup
Stars                                 NaN
Top Ten                               NaN
Name: USA, dtype: object

In [108]:
rows=df6.iloc[0:11]
rows

,Review #,Brand,Variety,Style,Stars,Top Ten
Country,,,,,,
Japan,2580,New Touch,T's Restaurant Tantanmen,Cup,3.75,NaN
Taiwan,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,1.00,NaN
USA,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,NaN,NaN
Taiwan,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,2.75,NaN
India,2576,Ching's Secret,Singapore Curry,Pack,3.75,NaN
South Korea,2575,Samyang Foods,Kimchi song Song Ramen,Pack,4.75,NaN
Japan,2574,Acecook,Spice Deli Tantan Men With Cilantro,Cup,NaN,NaN
Japan,2573,Ikeda Shoku,Nabeyaki Kitsune Udon,Tray,3.75,NaN
Japan,2572,Ripe'n'Dry,Hokkaido Soy Sauce Ramen,Pack,0.25,NaN
Singapore,2571,KOKA,The Original Spicy Stir-Fried Noodles,Pack,2.50,NaN
Thailand,2570,Tao Kae Noi,Creamy tom Yum Kung Flavour,Pack,NaN,NaN

In [109]:
rows2=df6.iloc[0:11:2]
rows2

,Review #,Brand,Variety,Style,Stars,Top Ten
Country,,,,,,
Japan,2580,New Touch,T's Restaurant Tantanmen,Cup,3.75,NaN
USA,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,NaN,NaN
India,2576,Ching's Secret,Singapore Curry,Pack,3.75,NaN
Japan,2574,Acecook,Spice Deli Tantan Men With Cilantro,Cup,NaN,NaN
Japan,2572,Ripe'n'Dry,Hokkaido Soy Sauce Ramen,Pack,0.25,NaN
Thailand,2570,Tao Kae Noi,Creamy tom Yum Kung Flavour,Pack,NaN,NaN